    ul {
    list-style: none;
    width: 100%;
    display: inline-table;
    }
    a {
        text-decoration: none;
        color: dimgray;
        font-family: "Ubuntu";
        text-transform: uppercase;
        color:lightgray;
    }
    li {
        display: table-cell;
        margin-right: 10px;
    }
     li a:hover {
        background-color: teal;
     }
    header {
        margin: 50px auto;
        width: 573px;
        height: 11px;
    }
     p {
        font-family: "Playfair Display" "Regular";
        font-size: 14px;
        color: #626262;
    }
    h2 {
        font-family: "Playfair Display" "Regular";
        font-size: 30px;
        color: #626262;
        font-weight: 400;  
    }
    .img1 {
        display: inline-table;
        width: 430px;
        padding: 0 0 0 35px;
        margin: 0;  
    }
    .img2 {
        display: inline-table;
        width: 430px;
        padding: 0 0 0 35px;
        margin: 0;
    }
.img3 {
        display: inline-table;
        width: 430px;
        padding: 0 0 0 35px;
        margin: 0;
    }
  .img4 {
        display: inline-table;
        width: 430px;
        padding: 0 0 0 35px;
        margin: 0;
  }  
    .img5 {
        display: inline-table;
        width: 430px;
        padding: 0 0 0 35px;
        margin: 0;
    }
    .img6 {
        display: inline-table;
        width: 430px;
        padding: 0 0 0 35px;
        margin: 0;
    }

wrapper {
    width: 937px;
    margin: 100px auto;
    display: block;
}
.formbox {
    text-align: center;
}
.btn {
    font-family: "Playfair Display" "Regular";
    font-size: 20px;
    /* border: dimgrey solid 1px; */
    color: #626262;
    background: white;
    width: 167px;
    height: 63px;
}