.grid-item-one {
    background-color: lightpink;
    height: 100px;
}
.grid-item-two {
    background-color: lightsalmon;
    height: 100px;
}
.grid-item-three {
    background-color: plum;
    height: 100px;

}