.stopwatch {
  margin: auto;
  text-align: center;
  display: inline-block;
}
.wrap {
  margin: auto;
  width: 250px;
  height: 200px;
  border: solid 2px gray;
  padding: 10px;
  text-align: center;
  background: lightskyblue;
}