.gunmetal {
    width: 600px;
    height: 600px;
    background-color: #424242;
    margin: 0 auto;

}
.section {
    position: relative;
}
.box {
    width: 100px;
    height: 100px;
}
.one {
    background-color: aqua;
    position: absolute;
    left: 0;
    top: 0;
}
.two {
    background-color: aquamarine;
    position: absolute;
    right: 0;
    top: 0;
}
.thre {
    background-color: rgb(37, 91, 240);
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%) translateY(0);
}
.fo {
    position: absolute;
    background-color: darkorange;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.fife {
    position: absolute;
    background-color: #eecf46;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.six {
    position: absolute;
    background-color: gold;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.seven {
    position: absolute;
    background-color: forestgreen;
    left: 0;
    bottom: 0;
}
.eight {
    position: absolute;
    background-color: green;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
}
.nine {
    background-color: greenyellow;
    position: absolute;
    right: 0;
    bottom: 0;
}
